/* general */
*{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: -.8px;
}
/* cuerpo de la página */
.conatiner-body{
    background:#f4f4f5;
}

/* cabecera */
header{
    width: 100%;
    height: 60px;
    background: rgba(244, 244, 245, .9);
    position: fixed;
    justify-content: space-between;
    top: 0;
    left:0;
    z-index:100;
    padding-bottom: 30px;
}

#cabecera{
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    text-align: right;
    top: 0px;
}
#cabecera ul{
    padding-top: 30px;
}
#cabecera ul li{
    padding: 0px 10px 10px 0px;
    list-style:none;
    display:  inline;
    font-size: 20px;
    cursor: pointer;
}
.elemento{
    text-decoration: none;
    color: rgba(24, 153, 206, .5);
    font-size: 25px;
}
.logo{
    position:relative;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    float: left;
    left: 2%;
    width: 80px;
}
.navbar a:hover{
    color: rgba(129, 28, 157, 0.8);
}


/* carousel  banner */
.carousel{
    padding-bottom: 20px;
    padding-top: 100px;
}
.contenedor-carousel{
    position: relative;
    justify-content:center;
}
.anterior-carousel,
.siguiente-carousel{
    position: absolute;
    top: calc(50% - 35px);
    border: none;
    display: block;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    color: #f4f4f5;
}
.anterior-carousel{
    left: -30px;
}
.siguiente-carousel{
    right: -30px;
}
.lista-carousel{
    overflow: hidden;
}
.carousel-elemento img{
    width: 700px;
    height: 400px;
    object-fit: cover;
}


/* Seccion cursos */
.seccion-cursos{
    padding-bottom: 30px;   
    width: 100%;
    height: 100%;
}
.titulo{
    justify-content: center; 
    display:flex;
    padding-bottom: 48px;
    font-size: 54px;
}
.content-renglones{
    justify-content: space-evenly;
    align-items:center;
    display:inline-flex; 
    width:100%; 
}

.tarjeta{
    background: rgba(240, 240, 240, .1);
    box-shadow: 0 6px 2px rgba(24, 153, 206,  0.5); 
    transition: .6s ease-out; 
    align-items: flex-end;
    position:relative;
    height: 360px;
    padding: 38px;
    display:flex;
    width: 200px;
}

.tarjeta:hover{
    transform: translateX(4px)  translateY(15px);
}

.tarjeta:before{
    background : linear-gradient(rgba(0, 0, 0, 1), transparent);
    position: absolute;
    transition: 0.2s;
    display: block;
    height: 100%;
    content: '';
    width: 100%;
    z-index: 1; 
    opacity: 0;
    top: 0;
    left: 0;
    
}
.tarjeta:hover:before{
    opacity: 1;
}

.tarjeta img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width:100%;
    left: 0;
    top: 0;
}

.tarjeta .texto-cursos{
    transform: translateY(3rem);
    transition: 0.5s all ;
    position: relative;
    color: #fff;
    opacity: 0;
    z-index: 3;
}

.tarjeta:hover .texto-cursos{
    transform: translateY(0rem);
    opacity: 1;
}

.tarjeta .texto-cursos h2{
    color: rgb(0, 183, 255); 
    font-family: Shrikhand;
    letter-spacing: 1.6px;
    font-size: 17px;
    margin: 0;  
} 

.tarjeta .texto-cursos p{
    letter-spacing: .1rem;
    text-align: justify;
    font-family: Poppins;
    margin-bottom: 2rem;
    margin-top: .8rem;
    font-size: 15px;
} 

.tarjeta .texto-cursos .btn-curso{
    transition: 0.4s ease-in-out;
    text-decoration: none;
    padding: 0.5rem 1rem ; 
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}


/* Footer */

footer{
    background:rgba(243, 241, 241, 0.152);
    color: rgba(24, 154, 206, 0.816);
    position: absolute;
    padding-top: 40px;
    height: 150px;
    width: 100%;
}
.contenedor-footer{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display:flex;
}
.contenedor-footer img{
    width: 50px;
    height: 50px;
}
.redes-sociales{
    justify-content:center; 
    margin: 16px 0 48px 0;
    align-items: center;
    list-style:none;
    display:flex;
}
.redes-sociales li{
    margin: 0 10px;
}
.redes-sociales a{
    color: rgba(24, 154, 206, 0.816);
    text-decoration: none;
}
.redes-sociales a i{
    transition: color .5 ease;
    font-size: 22px;
}
.redes-sociales a:hover i{
    color: rgba(129, 28, 157, 0.8);
}
.derecho-autor{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height:20px;    
}
.derecho-autor p{
    text-transform: capitalize;
    word-spacing: 2px;
    font-size: 14px;
}
.derecho-autor span{
    text-transform: lowercase;
    font-style: bold;
    opacity: .6;
}